<div class="signup-container">
  <div class="signup-form-container">
    <h2 class="text-center text-primary mb-4">Signup</h2>

    <form #ref="ngForm" (ngSubmit)="onSignup(ref.value)" class="signup-form">
      <div class="form-grid">
        <!-- Form fields here -->
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder=""
            name="name"
            ngModel
          />
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder=" "
            name="username"
            ngModel
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder=" "
            name="email"
            ngModel
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder=" "
            name="password"
            ngModel
          />
        </div>
      </div>

      <button class="btn btn-success btn-lg btn-block mt-4" type="submit">
        Signup
      </button>
    </form>
  </div>
  <div *ngIf="userRegistered" class="success-message">
    User Registered Successfully
  </div>
</div>
