<div class="property-details-container" *ngIf="propertyDetails">
  <div class="header">
    <h1 class="property-details-heading">Property Details</h1>
  </div>
  <div class="content">
    <!-- Display property details here -->
    <div>
      <!-- Property Details -->
      <div class="property-detail">
        <p>Property ID: {{ propertyDetails.propertyDetailsId }}</p>
      </div>
      <div class="property-detail">
        <p>Images: {{ propertyDetails.images }}</p>
      </div>
      <div class="property-detail">
        <p>Description: {{ propertyDetails.description }}</p>
      </div>
      <div class="property-detail">
        <p>Price: {{ propertyDetails.price }}</p>
      </div>
      <div class="property-detail">
        <p>Address: {{ propertyDetails.address }}</p>
      </div>
      <div class="property-detail">
        <p>Property Type: {{ propertyDetails.propertyType }}</p>
      </div>
      <div class="property-detail">
        <p>Property Size: {{ propertyDetails.propertySize }}</p>
      </div>
      <div class="property-detail">
        <p>Contact Info: {{ propertyDetails.contactInfo }}</p>
      </div>
      <div class="property-detail">
        <p>Floor Plan: {{ propertyDetails.floorPlan }}</p>
      </div>
      <div class="property-detail">
        <p>Property Features: {{ propertyDetails.propertyFeatures }}</p>
      </div>
      <div class="property-detail">
        <p>Build Year: {{ propertyDetails.buildYear }}</p>
      </div>
      <div class="property-detail">
        <p>Nearby Facilities: {{ propertyDetails.nearbyFacilities }}</p>
      </div>
    </div>

    <!-- Add any styling and formatting as desired -->
  </div>
</div>
