<div class="header">
  <div class="left-corner">
    <p>You are in: {{ userCity }}</p>
  </div>
  <div class="right-corner">
    <button class="logout-button" routerLink="/login">Logout</button>
  </div>
</div>

<div class="container">
  <h1 class="typing-demo">Property Search.</h1>

  <div class="property-search-form">
    <div>
      <label for="searchType">Search By:</label>
      <select id="searchType" [(ngModel)]="searchType">
        <option value="coordinates">Current Location</option>
        <option value="city">City</option>
      </select>
    </div>
    <div *ngIf="searchType === 'coordinates'">
      <label for="latitude">Latitude:</label>
      <input
        type="number"
        id="latitude"
        [(ngModel)]="userLatitude"
        placeholder="Enter latitude"
      />
      <label for="longitude">Longitude:</label>
      <input
        type="number"
        id="longitude"
        [(ngModel)]="userLongitude"
        placeholder="Enter longitude"
      />
      <label for="distance">Distance (km):</label>
      <input
        type="range"
        id="distance"
        [(ngModel)]="distance"
        min="0.5"
        max="100"
        step="0.5"
      />
      <span>{{ distance }} km</span>
    </div>
    <div *ngIf="searchType === 'city'">
      <label for="city">City:</label>
      <select
        id="city"
        [(ngModel)]="selectedCity"
        (ngModelChange)="onCityChange()"
      >
        <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
      </select>
      <label for="area">Area:</label>
      <select id="area" [(ngModel)]="selectedArea">
        <option
          *ngFor="let area of citiesWithAreas[selectedCity]"
          [value]="area"
        >
          {{ area }}
        </option>
      </select>
      <label for="distance">Distance (km):</label>
      <input
        type="range"
        id="distance"
        [(ngModel)]="distance"
        min="0.5"
        max="100"
        step="0.5"
      />
      <span>{{ distance }} km</span>
    </div>
    <button class="search-button" (click)="searchProperties()">Search</button>
  </div>
</div>

<footer>
  <p>This is the footer section.</p>
</footer>
